/* Use reference colours from the default colour scheme here so that the colors module can overwrite them */
$colour-ctrl-background:#00679A;
$colour-ctrl-background-light:#00578A;
$colour-ctrl-text:#ffffff;

$colour-header-text:#333333;