@import "compass/css3";
@import "sassy-buttons";
@import "blueprint/form";

$default-color: #4ba3cc;

h2 {
  font-size: 16px;
  font-weight: bold;
}

#header {
  padding-top: 0;
  #sitename {
    margin: 1em 0 0.5em 1em;
  }
}

#search-theme-form {
  clear: right;
}

#secondary-links {
  float: right;
  font-size: 12px;
  vertical-align: top;
  > * {
    @include inline-block;
    vertical-align: top;
  }
  a {
    font-weight: bold;
  }
}

.gallery-img, .view-summary-report ul li {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  @include inline-block;
  list-style-type: none;
  background: none;
  @include box-shadow(silver 3px 3px 6px);
  border: solid silver 1px;
}

.summary-report {
  width: 80px;
  padding-top: 80px;
}

.report-map {
  background: url(images/summary_map.png) no-repeat center top;
}

.report-table {
  background: url(images/summary_datatable.png) no-repeat center top;
}

.report-pie {
  background: url(images/summary_piechart.png) no-repeat center top;
}

.report-bar {
  background: url(images/summary_barchart.png) no-repeat center top;
}

form {
  @include blueprint-form-borders(#bbbbbb, #666666, #cccccc);
  select {
    border-color: #bbbbbb;
    &:focus {
      border-color: #666666; 
    }
  }
}

.form-checkboxes > div {
  @include inline-block;
}

a h2 {
  color: #006699;
}

a:hover h2 {
  text-decoration: underline;
}

/* enable special menu items on nice menus to have correct spacing */
ul.nice-menu span.nolink {
  padding: 0.3em 5px 0.3em 5px;
  display: block;
}

ul.nice-menu-down {
  width: 100%;
  .menuparent span.nolink {
    padding-right: 15px; 
  }
}

table {
  /* Full width species checklist input grid */
  &.species-grid {
    width: 100%;
  }
  /* anything inside a table (td, tr) can have styles to reflect verification and certainty. Prioritise verification status by making report-grid class specific. */
  &.report-grid {
    .status-V {
      background: url(images/nuvola/ok-16px.png) no-repeat right;
    }
    .status-D {
      background: url(images/nuvola/dubious-16px.png) no-repeat right;
    }  
    .status-R {
      background: url(images/nuvola/cancel-16px.png) no-repeat right;
    }
  }
  .certainty-C {
    background: url(images/star3.png) no-repeat right;
  }
  .certainty-L {
    background: url(images/star2.png) no-repeat right;
  }
  .certainty-P {
    background: url(images/star1.png) no-repeat right;
  }
  .zero-t {
    font-style: italic;
    text-decoration: line-through;
  }
}

button, input[type=submit] {
  margin: 0.25em;
  @include sassy-button-structure(4px, 1px, 0.25em, 11px, 1em);
  font-weight: bold; 
  &.default-button {
    @include sassy-button-colors("simple", $default-color, darken($default-color, 20%), true, #ffffff, raised);
  }
  &.button-active {
    @include sassy-button-style(inset, #555577);
    @include box-shadow(#0000FF 0px 0px 3px);
  }
}


