/* line 4, ../sass/species-account-gallery.scss */
ul.species-gallery-list {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 7, ../sass/species-account-gallery.scss */
ul.species-gallery-list li {
  background: none;
}
/* line 10, ../sass/species-account-gallery.scss */
ul.species-gallery-list li span {
  color: #336699;
  font-size: 1.2em;
}
/* line 15, ../sass/species-account-gallery.scss */
ul.species-gallery-list li span.expanded {
  background: url(../nuvola/1downarrow.png) left no-repeat;
  padding: 0.2em 30px;
  cursor: pointer;
}
/* line 20, ../sass/species-account-gallery.scss */
ul.species-gallery-list li span.collapsed, ul.species-gallery-list li span.not-loaded {
  background: url(../nuvola/1rightarrow.png) left no-repeat;
  padding: 0.2em 30px;
  cursor: pointer;
}
/* line 25, ../sass/species-account-gallery.scss */
ul.species-gallery-list li span.leaf {
  background: none;
  color: #777777;
  font-weight: bold;
  margin-left: 8px;
}
/* line 32, ../sass/species-account-gallery.scss */
ul.species-gallery-list li.species-gallery-image {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 8px 8px 8px;
  padding: 0;
}
/* line 7, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.species-gallery-list li.species-gallery-image {
  *display: inline;
}
/* line 36, ../sass/species-account-gallery.scss */
ul.species-gallery-list li.species-gallery-image img {
  border: solid 2px #777777;
}
/* line 40, ../sass/species-account-gallery.scss */
ul.species-gallery-list li.leaf {
  border: solid silver 1px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 45, ../sass/species-account-gallery.scss */
ul.species-gallery-list fieldset {
  margin: 3px 0 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 60%;
  vertical-align: top;
}
/* line 7, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.species-gallery-list fieldset {
  *display: inline;
}
/* line 52, ../sass/species-account-gallery.scss */
ul.species-gallery-list fieldset.collapsed {
  border: none;
}
