form.indicia label {
	width: 125px;
	display: inline-block;
	vertical-align: top;
	padding-top: 0.25em;
}

form.indicia input, form.indicia select, form.indicia textarea {
	display: inline-block;
	margin-bottom: 0.5em;
	vertical-align: top;
}

form.indicia input, form.indicia select {
	width: 200px;
}

form.indicia #find_place_button, form.indicia .auto, form.indicia .hidden {
	width: auto;
}

form.indicia .wide, form.indicia textarea {
	width: 400px;
}

.error {
	border: solid red 1px;
	background-color: #ffeeee;
	font-weight: bold;
	font-size: 14px;
}

.imagelist ul {
	margin: 0px;
	padding: 0px;
}

.imagebox {
	display: inline-block;
	border: solid silver 1px;
	background-color: #ededed;
	margin-right: 6px;
	margin-bottom: 6px;
}

.imagebox img {
	padding: 2px;
	border: none;
}

.imagebox a {
	padding: 6px 2px 2px 2px;
	text-align: center;
	width: 134px;
	text-decoration: none;
	display: inline-block;
	padding-top: 6px;
}

/* Widen the Joomla main column a little - this may need to be checked as could be specific to the
default template */
#maincolumn {
	width: 78%;
}

#place_search_button, #entered_sref_system {
	width: auto;
}