form {
	background: #eee;
	width: 600px;
}

label {
	width: 200px;
	display: inline-block;
	line-height: 1.7em;
	vertical-align: middle;
}

p#addOccAttr {
	text-align: right;
	color: #D00002;
	cursor: pointer;
}

div#occAttr0 {
	display: none;
}
