
#app.ui-page {
  background: url(../images/clover-tile.jpg) rgb(103,157,103) repeat;
}
.splash-box{
  background-color: rgba(255, 255, 255, 0.8); 
  border: #555 solid 2px;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}

.ui-page {
  background: lavender;
}

img {
  max-width: 100%;
}

.centre {
  text-align: center
}

label, form label {
  width: auto;
}

/* Increase label width compared to standard jQM. */
@media (min-width: 28em) {
  .ui-field-contain > label,
  .ui-field-contain .ui-controlgroup-label,
  .ui-field-contain > .ui-rangeslider > label {
    width: 30%;
  }
  .ui-field-contain > label ~ [class*="ui-"],
  .ui-field-contain .ui-controlgroup-controls {
    width: 68%;
  }
}


