/* line 7, sass/instant_indicia.scss */
h2 {
  font-size: 16px;
  font-weight: bold;
}

/* line 12, sass/instant_indicia.scss */
#header {
  padding-top: 0;
}
/* line 14, sass/instant_indicia.scss */
#header #sitename {
  margin: 1em 0 0.5em 1em;
}

/* line 19, sass/instant_indicia.scss */
#secondary-links {
  float: right;
  font-size: 12px;
  vertical-align: top;
}
/* line 23, sass/instant_indicia.scss */
#secondary-links * {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#secondary-links * {
  *display: inline;
}
/* line 27, sass/instant_indicia.scss */
#secondary-links a {
  font-weight: bold;
}

/* line 32, sass/instant_indicia.scss */
.gallery-img, .view-summary-report ul li {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  list-style-type: none;
  background: none;
  -moz-box-shadow: silver 3px 3px 6px;
  -webkit-box-shadow: silver 3px 3px 6px;
  -o-box-shadow: silver 3px 3px 6px;
  box-shadow: silver 3px 3px 6px;
  border: solid silver 1px;
}
/* line 7, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-img, .view-summary-report ul li {
  *display: inline;
}

/* line 43, sass/instant_indicia.scss */
.summary-report {
  width: 80px;
  padding-top: 80px;
}

/* line 48, sass/instant_indicia.scss */
.report-map {
  background: url(images/summary_map.png) no-repeat center top;
}

/* line 52, sass/instant_indicia.scss */
.report-table {
  background: url(images/summary_datatable.png) no-repeat center top;
}

/* line 56, sass/instant_indicia.scss */
.report-pie {
  background: url(images/summary_piechart.png) no-repeat center top;
}

/* line 60, sass/instant_indicia.scss */
.report-bar {
  background: url(images/summary_barchart.png) no-repeat center top;
}

/* line 55, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 66, sass/instant_indicia.scss */
form select {
  border-color: #bbbbbb;
}
/* line 68, sass/instant_indicia.scss */
form select:focus {
  border-color: #666666;
}

/* line 74, sass/instant_indicia.scss */
.form-checkboxes > div {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.form-checkboxes > div {
  *display: inline;
}

/* line 78, sass/instant_indicia.scss */
a h2 {
  color: #006699;
}

/* line 82, sass/instant_indicia.scss */
a:hover h2 {
  text-decoration: underline;
}

/* enable special menu items on nice menus to have correct spacing */
/* line 87, sass/instant_indicia.scss */
ul.nice-menu span.nolink {
  padding: 0.3em 5px 0.3em 5px;
  display: block;
}

/* line 92, sass/instant_indicia.scss */
ul.nice-menu-down {
  width: 100%;
}
/* line 94, sass/instant_indicia.scss */
ul.nice-menu-down .menuparent span.nolink {
  padding-right: 15px;
}

/* Full width species checklist input grid */
/* line 100, sass/instant_indicia.scss */
table.species-grid {
  width: 100%;
}

/* line 104, sass/instant_indicia.scss */
button, input[type=submit] {
  margin: 0.25em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.25em;
  line-height: 1em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
/* line 108, sass/instant_indicia.scss */
button.default-button, input[type=submit].default-button {
  background-color: #4ba3cc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4ba3cc), color-stop(100%, #276b8a));
  background: -webkit-linear-gradient(#4ba3cc, #276b8a);
  background: -moz-linear-gradient(#4ba3cc, #276b8a);
  background: -o-linear-gradient(#4ba3cc, #276b8a);
  background: -ms-linear-gradient(#4ba3cc, #276b8a);
  background: linear-gradient(#4ba3cc, #276b8a);
  border-color: #276b8a;
  color: white;
  text-shadow: #256482, 0 1px 0;
}
/* line 23, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.0.5/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.default-button:hover, input[type=submit].default-button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fadd2), color-stop(100%, #2d7a9e));
  background: -webkit-linear-gradient(#5fadd2, #2d7a9e);
  background: -moz-linear-gradient(#5fadd2, #2d7a9e);
  background: -o-linear-gradient(#5fadd2, #2d7a9e);
  background: -ms-linear-gradient(#5fadd2, #2d7a9e);
  background: linear-gradient(#5fadd2, #2d7a9e);
}
/* line 111, sass/instant_indicia.scss */
button.button-active, input[type=submit].button-active {
  -moz-box-shadow: #44445f 0 0.2em 0.4em inset;
  -webkit-box-shadow: #44445f 0 0.2em 0.4em inset;
  -o-box-shadow: #44445f 0 0.2em 0.4em inset;
  box-shadow: #44445f 0 0.2em 0.4em inset;
  border: solid 1px #35354a;
  -moz-box-shadow: blue 0px 0px 3px;
  -webkit-box-shadow: blue 0px 0px 3px;
  -o-box-shadow: blue 0px 0px 3px;
  box-shadow: blue 0px 0px 3px;
}
