@import "compass/css3";
@import "sassy-buttons";

@import "variables/*.*";
@import "custom/variables/*.*";
 
/** banner area improvements **/

@media screen and (max-width:600px) {
  #logo {
    /* logo occupies own line if narrow */
    float: none;
  }
}

/* Remove restriction on banner height and width */
header#header, div#branding {
  max-height: none;
  text-transform: none;
}
header#header {
  width: 100%;
  div#branding {
    width: 100%;
  }
  div.region {
    // overlay the user menu over the banner image
    width: 25%;
    margin: 0 0 0 -25%;
    padding: 0; 
    
    nav {
      float: right;
      .block-content {
        padding: 0;
      }
    }    
  }
}


/** Adaptive theme panel layouts **/

.at-panel {
  .region {
    padding-right: $spacing;
    /* Prevent padding messing up layout */
    @include box-sizing(border-box);    
    label {
      /* labels in columns take up 1 line */
      display: block;
      margin-bottom: 0;
      width: auto;
    }
    textarea, #map-help {
      /* full width boxes, accounting for border, padding etc*/
      width: 100%;
      @include box-sizing(border-box);
    }
    .control-box nobr {
      @include inline-block;
      span * {
        @include inline-block;
      }
    }
    .helpText, p.inline-error {
      /* Controls on separate line to labels, so remove margin for the helptext and errors */
      margin-left: 0;
    }
  }
  .region:last-child {
    padding-right: 0;    
  }

}

/** Buttons **/

/* Sassify the buttons */
input[type=submit], input[type=button], button, .indicia-button, a.indicia-button, a.button {
  color: $colour-ctrl-text;
  @include sassy-button-gradient('matte', $colour-ctrl-background, $colour-ctrl-background-light, $colour-ctrl-text, 'inset', true);
  @include sassy-button-structure(4px, 1em, 0 0.25em);
  margin-right: $spacing;
}
.buttons {
  input[type=submit], input[type=button], button {
    @include sassy-button-structure(4px, 1.1em, 0.25em);
  }
}
.form-submit:hover {
  color: $colour-ctrl-text;
}

/** Menu configuration **/

/* Menus on same line */
#block-superfish-1 {
  float: left;
}
#block-system-user-menu {
  float: right;
}

/* Correct a pixture reloaded bug with menu arrow placement */
div#menu-bar {
  font-size: 120%;
  ul.sf-menu li a.sf-with-ul {
    padding: 0 25px;
  }
}
.nav ul.sf-menu.sf-horizontal ul li {
  background: #fffdff;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
}
.nav ul.sf-menu.sf-horizontal ul li.last {
  border-bottom: solid 1px #333333;
}

/** Apply tweaks and bugfixes **/

/* Line up lock icons */
input, .unlocked-icon, .locked-icon {
  margin-top: 4px;
  margin-bottom: 4px;
}
/* remove legend background colour (from pixture reloaded's link colour) */
fieldset legend {
  background-color: transparent;
  color: $colour-header-text;
  padding: 0 $spacing;
}

/* Fixes a bug where Google attributions appear 1 character wide therefore go up the middle of the map in IE on some D7 templates. We 
   can't use a conditional stylesheet, as it also applies to IE10 which does not support conditional comments. */
.gm-style .gmnoprint {
  width: auto !important;
}

/* Fix potential for datepicker div to appear as blob at bottom of screen, and to go under the menu when it pops up */
div#ui-datepicker-div {
  display: none;
  z-index: 2000 !important;
}

/* Remove pixture reloaded margin on report tables */
table.report-grid {
  margin: 0;
}

/* A small font option, e.g. for wide habitat drop downs */
.small-font, .small-font * {
  font-size: 9px;
  font-family: tahoma,sans-serif;
}

/* Two col grid layout in iforms */
#entry_form .at-panel {
  margin: 0 4px;
  .two-50 {
    label {
      display: block;
      width: auto;
      &.olButton {
        display: inline-block;
      }
    }
    .control-box label {
      display: inline;
    }
    textarea {
      width: 90%;
    }
    .helpText {
      margin-left: 0;
    }
    .hierarchy-select {
      display: block;
    }
    .page-notice {
      margin: 0 0.5em 0 0;
    }
    p.inline-error {
      margin: 0;
      display:-moz-inline-stack;
      display:inline-block;
      zoom:1;
      *display:inline;
    }
  }
}

.region {
  padding: 1em;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.record-details-fields div span:first-child {
  width: 40%;
  font-weight: bold;
  float: left;
}

.record-details-fields div span:last-child {
  width: 58%;
  float: right;
}

/* Fix an issue in Chrome / Adaptive theme where the grid action buttons overflow the grid */
.action-button img {
  max-width: inherit;
}

#map-footer {
  font-size: 12px;
}


/** import any custom override files **/

@import "custom/*.*";