<?xml version="1.0"?>
<!-- Created as an example site by Kate Short at Exegesis SDM -->
<!-- This site and Indicia library were created to investigate whether it was viable to extend the Indicia project by having a web front end -->
<configuration>
  <appSettings>
    <!-- example Indicia config settings -->
    
    <!-- Domain of an Indicia Warehouse e.g. http://testwarehouse.indicia.org.uk -->
    <add key="Indicia_WarehouseURL" value="http://testwarehouse.indicia.org.uk"/>
    <!-- Integer Indicia ID for the website you are validating to the Indicia Warehouse -->
    <add key="Indicia_WebsiteID" value=""/>
    <!-- Password for the website you are validating to the Indicia Warehouse -->
    <add key="Indicia_WebsitePassword" value=""/>
    <!-- Number of times to retry a request to the Indicia Warehouse (e.g. for timeout or token expiry) -->
    <add key="Indicia_NumTokenRetries" value="2"/>
    <!-- Integer Indicia ID of a survey defined on the Indicia Warehouse-->
    <add key="Indicia_SurveyID" value=""/>
    <!-- Integer Indicia ID of a taxon list defined on the Indicia Warehouse  34 is the entire list of all species on the test warehouse-->
    <add key="Indicia_SpeciesPicker_TaxonListID" value="34"/>
 
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>